* {
    margin: 0;
}
html{
    background: #131F49;
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior:smooth;
    
}
img {
    display: block;
    width: 100%;
}


h1{
    padding-top: 1rem;
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 400%;
    max-width: 30rem;
    color: #ebd616;
    line-height: 120%;
}
h2{
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200%;
    text-align: center;
    color: #ebd616;
    
}
h3{
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120%;
    text-align: left;
    color: #fc27a3;
}

p {
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    padding-bottom: 1rem;
}
ol {
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    padding-bottom: 1rem;
}

ul {
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
    padding:0rem;
    margin-left: 2rem;
}


header{
    height:3rem;
    background-color: #181818;
    position: fixed;
    top: 0px;
    width: 100%;
}

.headercont{
    margin: 0 auto;
    max-width: 34rem;
    padding: 0rem 1rem 1rem; 
}
.navlogo {
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 150%;
    color: #ebd616;
    margin-right: 8rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    position:fixed;
    padding-top: 0.3rem;
}

.navlogo.visible {
    opacity: 1;
}
.navlogo2 {
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 150%;
    color: #ebd616;
    margin-right: 8rem;
    position:fixed;
    padding-top: 0.3rem;
}
nav {
    margin:0 -0.5rem 0 0;
    
}
.topnav ul {
  float: right;
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
  text-align:right;
  
}
.topnav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 0.5rem 0;
}
.topnav a:hover {
    background-color: #000000;
}
.topnav a:focus {
    background-color: #131F49;
}
.topnav a:active {
    background-color: #ebd616;
    color: #131F49;
}

.intro>p{
    font-size: 16pt;
}
.topbox{
    margin: auto;
    max-width: 26rem;
    padding-top: 3rem;
    padding: 3rem 0rem 2rem; 
}
.toptext{
    padding-top: 1rem;
}
.toptext>p{
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 190%;
    padding-top: 0.5rem;
    width: 18rem;
}
.topimage>img{
    float: right;
    width: 12rem;
    shape-outside: polygon(14.44% 46.3%, 36.1% 58.61%, 76.5% -0.43%, 97.88% -0.64%, 68.22% 60.53%, 53.33% 48.86%, 41.98% 62.65%, 70.97% 79.35%, 56.84% 101.47%, -0.42% 68.87%);
}


.nonstop>p {
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    color: #91d4d1;
    font-size: 18pt;
    padding-bottom: 0rem;
}

.pinkbold{
    font-weight: 700;
    color: #fc27a3;
}

.bold{
    font-weight: 700;
}

main{
    max-width: 34rem;
    margin: 0 auto;
    padding: 0rem 1rem 0rem; 
}

.subpush {
    padding-top:1rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;     /* Centers vertically */
    flex-direction: column;  /* Ensures multiple lines stack vertically */

}

.subbutton{
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200%;
    text-align: left;
    color: #131F49;
    margin: 0rem;
    margin-top: 0.8rem;
}

.subbutton>a{
    background-color: #91d4d1;
    color: #131F49;
    padding:0.2rem 2rem 0.2rem;
    
    border-radius: 1rem;
    text-decoration: none;
}

.subbutton>a:visited{
    color: #ffffff;
    background-color: #532768;
}
.subbutton>a:hover{
    color: #131F49;
    background-color: #ffffff;
}
.subbutton>a:focus{
    color: #ebd616;
    background-color: #000000;
}
.subbutton>a:active{
    color: #131F49;
    background-color: #ebd616;
}
.toouremail{
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150%;
    text-align: left;
    color: #ffffff;
}
.knowthefacts{
    padding-bottom:1rem;
}
.factlist {
  list-style: none;
  counter-reset: fact;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
  padding-left: 0;
}

.factlist li {
  counter-increment: fact;
  display: flex;
  align-items: baseline; /* aligns the number with the first line of text */
  gap: 0.75rem;          /* space after the number */
}

.factlist li::before {
  content: counter(fact) ".";
  font-family: dunbar-tall, sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: #ebd616;
  flex-shrink: 0;        /* ensures number does not shrink */
  line-height: 1;         /* aligns nicely with text baseline */
}

.improvesec{
    background-color: #91d4d1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}
.improvegrid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    padding: 0rem 1rem 2rem; 
    opacity:0;
    transition: opacity 0.4s ease;
	grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0rem;
    grid-template-rows: auto;
}
.improvegrid.visible {
    opacity: 1;
}
.improvehead{
    grid-column: 1;
    grid-row: 1; 
    max-width:26rem;
    margin: 0 auto;
}
.improvehead>h2{
    color: #131F49;
    padding-bottom:1rem;
}
.improveimg{
    grid-column: 1;
    grid-row: 2; 
    max-width: 18rem;
    margin: 0 auto;
}
.improvetext{
    grid-column: 1;
    grid-row: 3; 
    color: #131F49;
    margin: 0 auto;
}
.improvetext>ul{
    margin-top: -1rem;
}
.improvetext>.bold{
    margin-bottom:0;
}



.emailsec{
    background-color: #ffffff;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-top: 4rem;
}
.emailgrid{
    display: grid;
    justify-content: center;
    max-width: 34rem;
    margin: 0 auto;
    opacity:0;
    transition: opacity 0.4s ease;
    padding: 0rem 1rem 3rem; 
	grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-rows: auto;
}
.emailgrid.visible {
    opacity: 1;
}
.emailhead{
    grid-column: 1;
    grid-row: 1; 
    max-width: 26rem;
    margin: 0 auto;
}
.emailhead>h2{
    color: #fc27a3;
}
.emailtext{
    grid-column: 1;
    grid-row: 2; 
    color: #131F49;
}

#mc_embed_signup{ /* Div containing form */
    grid-column: 1;
    grid-row: 3; 
    margin: auto;
    background-color: #91d4d1;
    color: #131F49;
    font-family: arial, sans-serif;
    clear:left; 
    font-size: 10pt;
    width: 400px;   
    border-radius: 12px;
}
#mc-embedded-subscribe-form{ /* Form */
    display: grid;
    padding: 1rem;
    margin-left:1rem;
}

div.mc-field-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#mc_embed_signup .mc-field-group { /* Higher specificity to override mailchimp */
    display: flex !important;
    align-items: center;
}


div.mc-field-group label{ /* Labels */
    color:#131F49;
    font-size: 14pt;
}
#mc_embed_signup .mc-field-group label { /* Higher specificity to override mailchimp */
    display: inline-block !important;
    margin-right: 0.5rem;
    white-space: nowrap;
}


div.mc-field-group input{ /* Input Fields */
    margin: 0.4rem;
    padding: 0.25rem;
    max-width: none;
    width: auto;
}
#mc_embed_signup .mc-field-group input { /* Higher specificity to override mailchimp */
    display: inline-block !important;
    width: auto !important;
}


input.button{ /* Submit Button */
    margin-top:0.5rem;
    padding:0.5rem;
    width: 7rem;
    background-color: #131F49;
    color: #ffffff;
    font-size: 14pt;
    outline:none;
}
input.button:hover{ 
    background-color: #7a82a0;
    color: #ffffff
}
input.button:focus{ 
    background-color: #ebd616;
    color: #131F49;
}
input.button:active{ 
    background-color: #4b4f5c;
    color: #ffffff
}





footer{
    background-color: #ffffff;
    padding: 0rem 1rem 0rem; 
}
footer>p{
    font-size: 10pt;
    text-align: center;
    color:#131F49;
    padding-bottom:1rem;
}
.license {
  width: fit-content;      /* shrink to one line */
  margin: 0 auto;          /* center it */
  text-align: center;
}

.license img {
    display: inline-block;   /* FIX */
  width: auto;
  max-width: 1em;
  max-height: 1em;
  margin-left: .2em;
}

 .home footer{
    background-color: #ffffff;
    padding: 0rem 1rem 0rem; 
}
.about h1{
    padding: 5rem 0 1rem;
}
 .about footer{
    background-color: #131F49;
    color:#FFFFFF;
    padding-top: 1rem;
}
.about footer>p{
    color:#FFFFFF;
}


@media screen and (min-width: 50rem) {
.headercont{
    margin: 0 auto;
    max-width: 55rem;
    padding: 0rem 1rem 1rem; 
}

.topbox{
    margin: 0 auto;
    max-width: 55rem;
    padding: 3rem 0rem 0rem; 
}

.toptext>p{
    width: 34rem;
}

h1{
    font-size: 60pt;
    max-width: 60rem;
    padding-top: 2rem;
}
h2{
    font-size: 220%;
}

.topimage>img{
    float: right;
    width: 20rem;
    shape-outside: polygon(14.44% 46.3%, 36.1% 58.61%, 76.5% -0.43%, 97.88% -0.64%, 68.22% 60.53%, 53.33% 48.86%, 41.98% 62.65%, 70.97% 79.35%, 56.84% 101.47%, -0.42% 68.87%);
}


main{
    max-width: 55rem;
    margin: 0 auto;
    padding: 0rem 1rem 0rem;
}

.introsec1{
    width:30rem;
}

.subpush{
    max-width: 53rem;
}

.subpush>.toouremail{
    align-self: flex-start;
    margin: 0;
}

.knowthefacts{
    font-size:220%;
}
.factlist {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 1.5rem;
}




.improvegrid {
    display: grid;
    justify-content: center;
	grid-template-columns: auto;
    grid-template-rows: 1fr;
    max-width: 50rem;
}
.improvehead{
    grid-column: 1/3;
    grid-row: 1; 
    max-width:55rem;
}
.improveimg{
    grid-column: 1;
    grid-row: 2; 
    margin: auto;
    max-width: 25rem;
    padding-right: 1rem;
}

.improvetext{
    grid-column: 2;
    grid-row: 2; 
}

.improvetext>p{
    max-width: 25rem;
}

.emailgrid {
    display: grid;
    justify-content: center;
	grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 55rem;
}
.emailhead{
    grid-column: 1/3;
    grid-row: 1; 
    max-width: 55rem;
}
.emailtext{
    grid-column: 1;
    grid-row: 2; 
}
#mc_embed_signup{ 
    margin-top: 0.4rem;
}

}