* {
    margin: 0;
}
html{
    background: #131F49;
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior:smooth;
    
}
img {
    display: block;
    width: 100%;
}
body{

}

header{
    padding-top: 4rem;
}

.page-header{
    view-timeline-name: headertimeline;
    view-timeline-axis: block;
}

h1{
    padding-top: 1rem;
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 400%;
    max-width: 30rem;
    color: #ebd616;
    line-height: 120%;
}
h2{
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200%;
    text-align: center;
    color: #ebd616;
}
h3{
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 120%;
    text-align: left;
    color: #fc27a3;
}

p {
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
    margin-bottom: 1rem;
}

ul {
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
    padding:0rem;
}



nav {
    max-width: none;
    width: 100%;
    height:4rem;
    background-color: #333333;
    position: fixed;
    top: 0px;
    margin:0;
}
.topnav ul {
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
}



.navlogo {
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 150%;
    color: #ebd616;
    margin-right: 8rem;
    
    opacity: 0;
    transition: opacity 0.4s ease;
}

.navlogo.visible {
    opacity: 1;
}


.topnav a {
  display: block;
  color: white;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #111111;
}

.topbox{
    margin: 0 auto;
    width: 26rem;
}

.topbox>p{
    font-family: dunbar-tall, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 195%;
}
.topimage>img{
    float: right;
    width: 13rem;
    shape-outside: polygon(14.44% 46.3%, 36.1% 58.61%, 76.5% -0.43%, 97.88% -0.64%, 68.22% 60.53%, 53.33% 48.86%, 41.98% 62.65%, 70.97% 79.35%, 56.84% 101.47%, -0.42% 68.87%);
    
}


main{
    margin: 0 auto;
    width: 26rem;
}


.subpush>p{
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 140%;
    text-align: left;
    color: #5fc1c2;
}

.subpush>p>a{
    font-family: dunbar-tall, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 140%;
    text-align: left;
    color: #5fc1c2;
    background-color: #FFFFFF;
    padding:0.5rem;
    margin-right:0.5rem;
    border-radius: 1rem;
}
.subpush>p>a:hover{
    background-color: #c8baff;
}
.subpush>p>a:visited{
    color: #000000;
    background-color: #ffbbbb;
}


.factgrid {
    display: grid;
	grid-template-columns: auto;
    grid-template-rows: auto;
}
.facthead{
    grid-column: 1;
    grid-row: 1;
}
.fact1{
    grid-column: 1;
    grid-row: 2;
}
.fact2{
    grid-column: 1;
    grid-row: 3; 
}
.fact2>p{
    grid-column: 1;
    grid-row: 3;    
}
.fact2>ul{
    color: #fc27a3;  
}
.fact3{
    grid-column: 1;
    grid-row: 4; 
}
.fact4{
    grid-column: 1;
    grid-row: 5;    
}




.improvegrid {
    display: grid;
    justify-content: center;
	grid-template-columns: 1fr;
    grid-gap: 0rem;
    grid-template-rows: auto;
}
.improvehead{
    grid-column: 1;
    grid-row: 1; 
}
.improveimg{
    grid-column: 1;
    grid-row: 2; 
    max-width: 15rem;
}

.improvetext{
    grid-column: 1;
    grid-row: 3; 
}




.emailgrid {
    display: grid;
    justify-content: center;
	grid-template-columns: 1fr;
    grid-gap: 0rem;
    grid-template-rows: auto;
}
.emailhead{
    grid-column: 1;
    grid-row: 1; 
}
.emailtext{
    grid-column: 1;
    grid-row: 2; 
}
.mc_embed_shell{
    grid-column: 1;
    grid-row: 3; 
    background-color: rgb(120, 183, 255);
    grid-template-columns: 1fr;
    display: grid;
}






footer{
    font-size: 80%;
    margin: 0 auto;
}
footer>p{
    text-align: center;
}



@media screen and (min-width: 50rem) {

.topbox{
    margin: 0 auto;
    width: 50rem;
}



main{
    margin: 0 auto;
    width: 50rem;
}


.factgrid{
    grid-gap: 3rem;
}
.facthead{
    grid-column: 1/3;
    grid-row: 1;
}
.fact1{
    grid-column: 1;
    grid-row: 2;
}
.fact2{
    grid-column: 2;
    grid-row: 2;    
}
.fact3{
    grid-column: 1;
    grid-row: 3;    
}
.fact4{
    grid-column: 2;
    grid-row: 3;        
}


.improvegrid {
    display: grid;
    justify-content: center;
	grid-template-columns: 1fr;
    grid-gap: 0rem;
    grid-template-rows: 1fr;
}
.improvehead{
    grid-column: 1/3;
    grid-row: 1; 
}
.improveimg{
    grid-column: 1;
    grid-row: 2; 
}
.improvetext{
    grid-column: 2;
    grid-row: 2; 
}



.emailgrid {
    display: grid;
    justify-content: center;
	grid-template-columns: 1fr;
    grid-gap: 0rem;
    grid-template-rows: auto;
}
.emailhead{
    grid-column: 1/3;
    grid-row: 1; 
}
.emailtext{
    grid-column: 1;
    grid-row: 2; 
}
.emailform{
    grid-column: 2;
    grid-row: 2; 
    grid-template-columns: 1fr;
    display: grid;
}
.qname{
    grid-column: 1;
    grid-row: 1; 
}
.aname{
    grid-column: 1/3;
    grid-row: 1; 
}
.qemail{
    grid-column: 1;
    grid-row: 2; 
}
.aemail{
    grid-column: 1/3;
    grid-row: 2; 
}

}